section{
  height: auto;
  width: 100%;
  background-color: #F2F9Ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.common-page{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.common-page h2{
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #2c2f48;
  font-family: sans-serif;
}

.common-page p{
  margin: 1rem;
  padding: 2rem;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify;
  font-family: sans-serif;
  border-top: 2px #2c2f48 solid;
}