.commonheader{
  width: 100%;
  /* height:10vh; */
  background-color: #f0f8ff;
  display: flex;
  padding: 1rem 3rem;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.upper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;

}

.commonheader .logo{
  width:70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
  
}

.commonheader .logo img{
  height: 100px;
  width: 100px;
  margin: 0%;
}

.logo h2{
  font-size: 2.3em;
  font-weight: 600;
  color: #2c2f48;
  aspect-ratio: unset;
} 

.navlower{
  height: auto;
  padding: 1rem;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:#2c2f48;
}

.navlower nav{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlower nav a{
  width: fit-content;
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.3em;
  
}

.navlower nav  .linkhover {
position: relative;
}

.navlower nav .linkhover .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  color:#2c2f48;
  min-width: 250px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-top: 3px solid #fd6202;
  border-radius: 3px;
  z-index: 999;
  padding: 8px 0;
}

.navlower .linkhover .dropdown-content a {
  display: block;
  padding: 10px 18px;
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;
  color: #2c2f48;
  transition: all 0.3s ease;
}

.navlower .dropdown-content div{
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: start;
}

.navlower nav .linkhover:hover .dropdown-content {
  display: block;
}

.navlower nav .linkhover .dropdown-content a:hover {
  background: #f0f8ff;
  color: #fd6202;
}

.navlower  .sub-dropdown {
  padding: 0;
  margin: 0;
  position: relative;
}

.navlower  .sub-dropdown-content {
  display: none;
  width: 90%;
  position: absolute;
  top: -100%;
  left: 100%;
  color: #2c2f48;
  background: white;
  border-top: 3px solid #e63946;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  border-radius: 3px;
  /* background-color: pink; */
}

.navlower .sub-dropdown.right .sub-dropdown-content{
  left:auto;
  right:100%;
}

.navlower .sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.navlower .sub-dropdown a {
  padding: 10px 18px;
  display: block;
  color: #111;
}

.navlower .sub-dropdown a:hover {
  background: #f5f5f5;
  color: #e63946;
}

.commonheader .university{
  /* margin-top: 1rem; */
  width: 30%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  border-left: #2c2f48 2px solid;
}

 .commonheader .university .sgbau img{
  width: 80px;
  height: 80px;
  margin: 0;
}

.commonheader .university .sgbau{
  height: auto;
  width: auto;
  border-radius: 50%;
} 

.commonheader .university h3{
  color:#2c2f48;
  font-size: 0.8rem;
  text-align: center;
}

.commonheader .university h1{
  text-align: center;
  font-size: 1rem;
  color: #2c2f48;
}