.commonheader{
  width: 100%;
  height:10vh;
  background-color: #2c4832;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commonheader .logo{
  width: 45%;
  font-weight: 600;
  display: flex;
  font-size:1.5rem ;
  color: #f0f8ff;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}

.commonheader .logo img{
  height: 50px;
  width: 50px;
}

.commonheader nav{
  width: 55%;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.commonheader nav a{
  width: fit-content;
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
}

.commonheader nav .dropdown-content , .sub-dropdown-content a{
  display: none;
  padding: 10px 18px;
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;
  color: #2c2f48;
  transition: all 0.3s ease;
}

.commonheader nav .linkhover:hover .dropdown-content a{
  display: block;
  color: #2c2f48;
}

.commonheader nav .linkhover .dropdown-content a:hover {
  background: #f0f8ff;
  color: #fd6202;
}

