.commonheader{
  width: 100%;
  /* height:10vh; */
  background-color: #2c2f48;
  display: flex;
  padding: 1rem 3rem;
  gap: 2rem;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}

.commonheader .logo{
  width: fit-content;
}

.commonheader .logo img{
  height: 80px;
  width: 80px;
  margin: 0%;
}

.headermiddle{
  height: auto;
  width:fit-content;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headermiddle h2{
  font-size: 2em;
  font-weight: 600;
  color: #f0f8ff;
  
} 

.commonheader .headermiddle nav{
  /* width: 55%; */
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commonheader .headermiddle nav a{
  width: fit-content;
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1em;
  
}

.commonheader nav  .linkhover {
position: relative;
}

.commonheader nav .linkhover .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  color:#2c2f48;
  min-width: 250px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-top: 3px solid #fd6202;
  border-radius: 3px;
  z-index: 999;
  padding: 8px 0;
}

.commonheader .linkhover .dropdown-content a {
  display: block;
  padding: 10px 18px;
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;
  color: #2c2f48;
  transition: all 0.3s ease;
}

.commonheader .dropdown-content div{
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: start;
}

.commonheader nav .linkhover:hover .dropdown-content {
  display: block;
}

.commonheader nav .linkhover .dropdown-content a:hover {
  background: #f0f8ff;
  color: #fd6202;
}

.commonheader  .sub-dropdown {
  padding: 0;
  margin: 0;
  position: relative;
}

.commonheader  .sub-dropdown-content {
  display: none;
  width: 90%;
  position: absolute;
  top: -100%;
  left: 100%;
  color: #2c2f48;
  background: white;
  border-top: 3px solid #e63946;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  border-radius: 3px;
  /* background-color: pink; */
}

.commonheader .sub-dropdown.right .sub-dropdown-content{
  left:auto;
  right:100%;
}

.commonheader .sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.commonheader .sub-dropdown a {
  padding: 10px 18px;
  display: block;
  color: #111;
}

.commonheader .sub-dropdown a:hover {
  background: #f5f5f5;
  color: #e63946;
}

.commonheader .university{
  /* margin-top: 1rem; */
  width: fit-content;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #F2F9Ff; */
  border-radius: 30px;
  /* padding: 1rem; */
}

 .commonheader .university .sgbau img{
  width: 80px;
  height: 80px;
  margin: 0;
}

.commonheader .university .sgbau{
  /* background-color: #F2F9Ff; */
  /* padding-inline: 2rem; */
  height: auto;
  width: auto;
  border-radius: 50%;
  /* top: -25%; */
} 

.commonheader .university h3{
  color: #f0f8ff;
  font-size: 0.8rem;
  text-align: center;
}

.commonheader .university h1{
  font-size: 1rem;
  color: #f0f8ff;
}