.footer {
  background: #2c2f48;
  color: #fff;
  padding: 50px 20px 20px;
  font-family:sans-serif;
  height: 40vh;
  width: 100%;
}

.footer .first-footer {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 30%;
  height: 100% ;
}

.footer-address {
  font-size: 14px;
  color: #ccc;
  max-width: 260px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #ffd700;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-rights{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px ;
  font-size: 14px;
  color: #ccc;
  gap: 8rem;
}

.footer-rights a {
  color: #ddd;
  text-decoration: none;
  font-weight: 600;
}



/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-section {
    width: 100%;
  }
}
