.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 14.5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  transition: all 0.4s ease;
  z-index: 1000;
  /* gap: 7rem; */
}

.header .logo{
  width: 60%;
  display: flex;
  font-size:2rem ;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  /* background-color: pink; */
}

.header.home .logo img{
  height: 70px;
  width: 70px;
  display: block;
  margin: 0;
  object-fit: contain;
  transition: display 1s ease-in-out;
}



/* Transparent by default */
.header.home {
  background: transparent;
  color: white;
}

/* When scrolled, add solid background */
.header.home.scrolled {
  background:#2c2f48;
  color: white;

}

.header.home.scrolled .logo{
  width: 45%;
  font-size: 1.5rem;
  transition: all 1s ease;
}

.header.home.scrolled .logo img{
  height: 40px;
  width: 40px;
  transition: all 1s ease;
}

/* Hide when scrolling up */
.header.hide {
  transform: translateY(-100%);
}

nav{
  width: 40%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  aspect-ratio: unset;
  gap: 0.5em;
}

.header.home.scrolled nav{
  width: 55%;
}



.header.home nav a {
  width: fit-content;
  color: #2c2f48;
  text-decoration: none;
  font-size: 1em;
  
}

.header.home.scrolled nav a{
  color:#f0f8ff;
  text-decoration: none;
  transition: color 0.3s;
  width: fit-content;
}

nav a:hover {
  color: #ffd700;
}

nav .linkhover {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  color:#2c2f48;
  min-width: 250px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-top: 3px solid #fd6202;
  border-radius: 3px;
  z-index: 999;
  padding: 8px 0;
}

/* Items */
.dropdown-content p{
  color: #fd6202;
  margin: 10px;
}

.dropdown-content a {
  display: block;
  padding: 10px 18px;
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;
  color: #2c2f48;
  transition: all 0.3s ease;
}

.header.home.scrolled .dropdown-content a{
  color: #2c2f48;
}

.dropdown-content div{
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: start;
}

.dropdown-content a:hover {
  background: #f5f5f5;
  color: #fd6202;
}

/* Show on Hover */
nav .linkhover:hover .dropdown-content {
  display: block;
}

/* Nested Dropdown (side menu) */
.sub-dropdown {
  padding: 0;
  margin: 0;
  position: relative;
}

.sub-dropdown-content {
  display: none;
  width: 90%;
  position: absolute;
  top: 0%;
  left: 100%;
  color: #2c2f48;
  background: white;
  border-top: 3px solid #e63946;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  border-radius: 3px;
  /* background-color: pink; */
}

.sub-dropdown.right .sub-dropdown-content{
  left:auto;
  right:100%;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.sub-dropdown a {
  padding: 10px 18px;
  display: block;
  color: #111;
}

.sub-dropdown a:hover {
  background: #f5f5f5;
  color: #e63946;
}