*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.first{
  width: 100%;
  height:80vh;
  position: relative;
  margin: 0;
  padding: 0px; 
  box-sizing: border-box;
}

.first::before{
 content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/src/assets/front.png') no-repeat center center ;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1; 
}


.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 1;
  margin: 0;
}

.second{
  width: 100%;
  height: 25vh;
  background-color: #F2F9FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second .course{
  width: 20%;
  height: 5rem;
  background-color: #8AB2A6;
  margin: 0 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#2c2f48;
  font-weight: bold;
  font-size: 1.7rem;
}

.third{
  width: 100%;
  height: 80vh;
  background-color: #F2F9FF;
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: start;
}

.ruler{
  width: 80%;
  height: 0.2rem;
  background-color: #2c2f48;
}

.about{
  width: 90%;
  height:90%;
  margin-block: 3rem;
  text-align: justify;
  /*margin-inline: 2rem; */
  color: #2c2f48;
  font-family: sans-serif;
  /* background-color: pink; */
}

.about h2{
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #2c2f48;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.about p{
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: justify;
  width: 60%;
}

img
{
  height: 80%;
  width: 35%;
  margin-left: 2rem;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}


.fourth{
  width: 100%;
  height: 60vh;
  background: url('/src/assets/colg2.jpg') no-repeat fixed;
  background-position: center calc(100%/1.5);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.fourth::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000006e;
  z-index: 1;
}

.fourth .facility{
  height:80%;
  width: 90%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.fourth .facility h2{
  font-size: 2rem;
  width: fit-content;
  margin-bottom: 0.5rem;
  padding: 0.5rem 3rem;
  font-weight: 540;
  color: #F2F9FF ;
  background-color:#2c2f48 ;
  border:#8ab2a6ca 2px solid;
  border-radius: 40px;
}

.fourth .facility .boxes{
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.fourth .facility .boxes .box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border-radius: 40px;
  background: transparent;
  backdrop-filter: blur(1px);
  border:1px solid #8ab2a6ca;
}

.fourth .facility .boxes .box .img{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.fourth .facility .boxes .box:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.fourth .facility .boxes .box h3{
  width: 90%;
  padding-top: 0.3rem;
  height: 2rem;
  color:#f0f8ff ;
  background-color: #2c2f48;
  border: 2px solid #8ab2a6ca;
  border-radius: 20px;
}

.fourth .facility .boxes .box .img img{
  width:40%;
  margin-left: -5px;
  height: 60%;
  object-fit: cover;
}

.fifth{
  width: 100%;
  height: 75vh;
  background-color: #F2F9FF;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.fifth .container{
  height: 90%;
  width: 95%;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.left{
  height: 90%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* .right{
  height: 90%;
  width: 48%;
  display: flex;
  margin-inline: 1rem;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-inline: 2rem;
  line-height: 1.5rem;
} */

.right{
  height: 90%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.fifth .notice-scroll{
  width: 90%;
  height: 75%;
  margin-top: 1rem;
  border: 2px solid #2c2f48;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.ruler2{
  width: 2px;
  height: 80%;
  background-color: #2c2f48;
  margin-inline: 2rem;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}

.notice-list {
  width: 100%;
  margin: 0.5rem 1rem;
  display: flex;
  position: absolute;
  flex-direction: column;
  animation: scrollUp 9s linear infinite;
}

.left h2, .right h2{
  text-align: start;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  margin-left: 4rem;
  color: #2c2f48;
}

.notice-card {
  width: 95%;
  background: #8AB2A6;
  border-left: 5px solid #2c2f48;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 8px;
}

.notice-card h3 {
  font-size: 16px;
  margin: 0;
  color: #212235;
}

.notice-card p {
  font-size: 14px;
  margin: 4px 0 0;
  color: #2c2f48;
}

.message{
  width: 100%;
  height: fit-content;
  display: flex;
  aspect-ratio: unset;
  align-items: start;
  justify-content:space-between;
}

.message p{
  width: 70%;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.message .img{
  height: 80%;
  width: 30%;
  margin-left: 2rem;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

/* Animation for upward scrolling */
@keyframes scrollUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.sixth{
  width: 100%;
  height: 75vh;
  background-color: #f0f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sixth h2{
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #2c2f48;
}

.sixth .container{
  height: 85%;
  width: 90%;
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.sixth-left{
  width: 45%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:1.5rem;
}

.sixth-left .bigimg,.smallimgs{
  height: 100%;
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.sixth-left .bigimg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.sixth-left .smallimgs .one{
  height: 70%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.sixth-left .smallimgs .two{
  height: 30%;
  width: 100%;
  object-fit:cover;
  margin: 0;
  padding: 0;
}

.sixth-right{
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.sixth-right p{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: justify;
  font-family:sans-serif ;
}
.sixth-right .courses-Box{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  margin: 0;
  padding: 0;
  /* background-color: lightgrey; */
}

.sixth-right .courses p{
  padding:0;
  margin-bottom: 6px;
  background-color: #2626262c;
  text-align: center;
  color: #2c2f48;
}

.sixth-right .courses-Box h4{
  padding: 0.5rem;
  background-color: #2626267c;
  text-align: center;
  margin-bottom: 1rem;
}

.gallery-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-template-rows:repeat(auto-fill, minmax(4rem, 1fr));
  grid-auto-flow: dense;
  gap: 15px;
  background-color: #2c2f48;
}

.gallery-item {
  height: 100%;
  width: 100%;  
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* transition: transform 0.3s ease; */
   object-fit: cover;
   margin: 0;
   object-position: center;
/* prevents centering */
   /* background-color: pink; */
}


/* Random image sizes */
.size-1 {
  grid-row: span 2;
  grid-column: span 2;
} 

.size-4 {
  grid-row: span 3;
  grid-column: span 3;
  object-position: top;
} 

.size-3 {
  grid-row: span 3;
  grid-column: span 2;
} 

.size-2 {
  grid-row: span 2;
  grid-column: span 3;
}  

/* Hover zoom */
.gallery-item:hover {
  transform: scale(1.05);
  z-index: 5;
}

.seven{
  width: 100%;
  height: 75vh;
  background-color: #f0f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seven .container{
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  gap: 3rem;
}

.seven .container .seven-left{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: lightcoral; */
}

.seven .seven-left img{
  height: 150px;
  width: 150px;
  margin: 0;
}

.seven .chairman,.principal{
  height: 37%;
  width: 100%;
  padding: 0;
  /* background-color: yellow; */
  display: flex;
  gap: 1rem;

}

.seven .seven-left p{
font-size: 1rem;
  line-height: 1.8rem;
  text-align: justify;
  font-family: sans-serif;
}

.seven .seven-right{
  width: 40%;
  height: 90%;
  display: grid;
  grid-template-columns: 15rem 15rem;
  grid-template-rows: 13rem 13rem ;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  /* background-color: lightblue; */
}

.seven-right .box{
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  background-color:#2c2f48;
  font-size:2rem ;
  color: #f0f8ff;
  text-align: center;
  font-family: sans-serif;
  font-weight:600;
}

.seventh{
  width: 100%;
  height: 60vh;
  background-color: #F2F9FF;
}

.seventh h1{
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  color: #2c2f48;
}

.map{
  width: 90%;
  height: 70%;
  margin: 1rem auto;
  border: 2px solid #2c2f48;
  border-radius: 10px;
}